version: '3.8'

services:
  web:
    build:
      context: ./src
      dockerfile: Dockerfile
    image: todo-flask:latest
    ports:
      - '5000:5000'
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:6.0
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/src/db
    restart: unless-stopped

volumes:
  mongo-data:
    driver: local
