global:
  resolve_timeout: 5m

inhibit_rules:
- equal:
  - namespace
  - alertname
  source_matchers:
  - severity = critical
  target_matchers:
  - severity =~ warning|info
- equal:
  - namespace
  - alertname
  source_matchers:
  - severity = warning
  target_matchers:
  - severity = info
- equal:
  - namespace
  source_matchers:
  - alertname = InfoInhibitor
  target_matchers:
  - severity = info
- target_matchers:
  - alertname = InfoInhibitor

receivers:
  - name: "slack-notifications"
    slack_configs:
      - api_url: "https://hooks.slack.com/services/<>/<>/<>" # redacted Slack webhook URL
        channel: "#all-aws-eks"
        send_resolved: true
        title: "{{ .CommonLabels.alertname }} ({{ .CommonLabels.severity }})"
        text: >
          *Alert:* {{ .CommonAnnotations.summary }}
          *Description:* {{ .CommonAnnotations.description }}
          *Pod:* {{ .CommonLabels.pod }}
          *Namespace:* {{ .CommonLabels.namespace }}
  - name: "null"

route:
  group_by: ["namespace"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h
  receiver: "slack-notifications"
  routes:
    - matchers:
        - alertname = "Watchdog"
      receiver: "null"

templates:
- /etc/alertmanager/config/*.tmpl
